@media only screen and (max-width: 820px) {
    .vhod {
       height: 925px;
        width: 800px;
    }
    .vhod h1 {
left: 330px;
top: 140px;

    }
    img#cat2 {
        position: relative;
        width: 270px;
        top: 270px;

    }
    img#has {
        position: relative;
        bottom: 290px;
        right: 240px;
        width: 70px;
    }
    .bomb {
        position: relative;
        left: 190px;
        top: 300px;
    }
    .form  {
        border: 0px; 
        left: 290px;
        top: 250px;
    }
    .winter  {
        border: 0px; 
        left: 290px;
        top: 320px;
    }
    .features hidden {
    left: 200px;
    }
    .menu {
        position: relative;

        top: 100px;
    }
    #map {
        width: 1500px;
        height: 1500px;
    }
    /* img#super {
        width: 200px;
    }
    .bob{
width: 400px;
    } */
    .features {
        top: 150px;
        left: 430px;
    }
    .bomb2 {
        position: relative;
        left: 190px;
        top: 300px;
    }
   
    .winter2  {
        position: relative;
        border: 0px; 
        left: 290px;
        top: 320px;
    }
    .vhod2 {
        height: 925px;
         width: 1000px;
     }
}